layout()
  display: flex
  display: -webkit-flex
horizontal()
  flex-direction: row
vertical()
  flex-direction: column
center()
  align-items: center

justified()
  justify-content: space-between

justified-start()
  justify-content: flex-start

justified-end()
  justify-content: flex-end

justified-center()
  justify-content: center

flex()
  flex: 1
