*
  -webkit-font-smoothing: antialiased;

body {
  background: #f0f0f0
  font-family: 'Rockwell Std'
  font-weight: 100
	font-size: 14px
  layout()
  horizontal()
  justified-center()
}
h1,
h2,
h3,
h4
  font-family: 'Gotham Ultra'
