.new-tweet
  .new-tweet-icon
    width: 30px
    height: 30px
.new-tweet-modal
  layout()
  vertical()

  .new-tweet-text
    width: 300px
    height: 100px
    border: 1px solid #ccc
    border-radius: 4px
    resize: none

.new-tweet-modal-footer
  margin-top: 10px
  layout()
  horizontal()
  justified()
