
.tweets
  width: 400px
  border: 1px solid #ddd
  border-radius: 4px
  background: #fff
  margin-bottom: 20px
  layout()
  vertical()
  center()

  .tweet-wrapper
    layout()
    vertical()
    border-bottom: 1px solid #ddd
    padding: 10px
    .retweeted-by
      layout()
      horizontal()
      padding-bottom: 10px
      
  .tweet
    layout()
    horizontal()
    width: 100%
    cursor:pointer
    &:hover
      background: #fafafa

    &:last-child
      border: none

    .tweet-img
      max-height: 200px
      overflow-y: hidden
      border: 1px solid #ddd
      border-radius: 4px
      margin-top: 4px
      img
        width: 100%

    .avatar
      margin-right: 10px
      border-radius: 5px
      overflow: hidden
      width: 40px
      height: 40px
      img
        width: 100%

    .tweet-content
      flex()

    .tweet-text
      margin: 0

    .user
      layout()
      horizontal()
      center()
      margin-bottom: 3px

      .tweet-date
        flex()
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap

      .name
        font-size: 14px
        margin: 0
        margin-right: 10px
        a
          color: #333331

      .username
        margin: 0
        color: #666661
        font-weight: 500
        font-size: 12px

.tweet-footer
  layout()
  horizontal()
  justified()
  margin: 0 20px
  margin-top: 4px
.favorite
  layout()
  vertical()
  center()
  width: 40px
  height: 60px
  .favorite-icon
    fill: #CA232F
    width: 30px
    height: 30px
    margin-bottom: 5px
    transition: height 300ms ease, height 300ms ease, margin 300ms
    &.on
      width: 40px
      height: 40px
      margin-left: -1px
      margin-top: -5px
      margin-bottom: 0px
.retweet
  layout()
  vertical()
  center()
  .retweet-icon
    fill: #777
    width: 30px
    height: 30px

    &.retweeted
      fill: #333

.reply
  layout()
  vertical()
  center()
  .reply-icon
    fill: #777
    width: 30px
    height: 30px
