.write-tweet
  .write-tweet-icon
    width: 30px
    height: 30px
    cursor: pointer
.write-tweet-modal
  layout()
  vertical()

  .write-tweet-text
    width: 300px
    height: 100px
    border: 1px solid #ccc
    border-radius: 4px
    resize: none

.write-tweet-modal-footer
  margin-top: 10px
  layout()
  horizontal()
  justified()
